@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: "Josefin Sans", sans-serif;
    background-color: #ceacb5;

}
header img{
    margin: 0px 20px;
}





.box{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;

}

.calculator {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    height: 80vh;
    width: 30vw;
    background-color: rgb(100, 94, 94);
    box-shadow: 5px 4px 4px #050505;
}

.calculator-screen {
    width: 30vw;
    height: 10vh;
    border: none;
    background-color: #01200250;
    color: white;
    font-size: 8vh;
    border: 4px solid grey;
    font-family: "Inconsolata", monospace;
    
    
}



button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  
  button {
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#c5c0c0;
    margin: 5px 5px;


    display:block;
    position:relative;
    /* padding:20px 40px; */
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #d3bfa4;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 5px 0 #050505;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50px;
  }
  
  button :active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
  }


.operator {
    background-color: #c74e6c;
}

.operator:active {
    background-color: #0e0d0d;
}

.equal-sign {
    background-color: #c50808;
    grid-column: span 2;

}

.equal-sign:active {
    background-color: #0a0a0a;
}

.decimal {
    background-color: #d8c0c0;
}

.all-clear {
    background-color: #d4d4d2;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #6b6b6b;
    height: 60vh;
    
}